h3{font-style: italic; font-size: 20pt;} /*주석은 이렇게 넣음*/
p{font-family:'Times New Roman',궁서체;} /*fontfamily: 없으면 다음 폰트 적용*/
p strong{font-style: italic;}
strong.red1{font-size:30pt; color:red;}

a:link{color:red;}
a:visited{color:red;}

a:hover{color:blue; font-size: 50pt; transition-duration: 2s;}

.shadow{text-shadow: 3px 3px 3px blue; font-size: 20pt; text-indent: 5em; letter-spacing: 2pt; text-align: center;}

.background{background-image: url(dog.jpg); background-repeat: repeat;}

.moving{width:50px;}
.moving:hover{width:200px; transition: width 4s;}

.trans:hover{transform: translate(100px,0px);}